.about-info{

    display: inline-block;
    width: 100%;
    vertical-align: top;

}
.about-info p{

    padding-inline: 0%;

}
.photo{

    display: inline-block;
    background-image: url(../images/profile-pic.jpg);
    background-position: center;
    background-size: cover;
    height: 50vw;
    width: 40vw;
    margin-bottom: 50px;
    

    z-index: -5;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 1s ease;
    box-shadow: 10px 10px white;
}
.photo:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
     filter: grayscale(0%);
     box-shadow: 5px 20px white;
}
@media (min-width: 768px) { 
    .about-info p{

        padding-inline: 10%;

    }
    .about-info{


        width: 60%;


    }
  .photo{
    margin-bottom: 0px;
    height: 30vw;
    width: 20vw;

  }
}