.footer{
    font-family: roboto-medium;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    color: white;
    background-color: rgb(0, 0, 0);
    /* background-image: linear-gradient(rgb(46, 46, 46), rgb(0, 0, 0)); */
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
    padding-top: 10pt;
    padding-bottom: 10pt;
}

.footer p{
    font-size: 5pt;
    
}

@media (min-width: 768px) { 
    .footer p{
    font-size: 7pt;
    
}
}

@media (min-width: 1000px) { 
    .footer p{
    font-size: 9pt;
    
}
}

@media (min-width: 1500px) { 
    .footer p{
    font-size: 12pt;
    
}
}