@font-face {
    font-family: gipsyDanger;
    src: url(../fonts/GipsyDangerPersonalUse-8W8z.ttf);
}
a{
    text-decoration: none;
}
.navbar{
    overflow: hidden;
    background: rgba(0, 0, 0, 0);
    
    text-align: center;
    width: 100%;
    z-index: 2;
    transition-duration: 1s;
}

.nav-title{
    
    font-family: gipsyDanger;
    font-size: 20pt;
    color: white;
    display: inline;
    width:20%;
    transition-duration: 0.5s;
    margin:10px;
}


.nav-title:hover{
    background-color: rgba(122, 122, 122, 0.233);
    transform: scale(1.05);
}

.nav-sticky{
    position: fixed;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  width: 100%;
  top:0;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .hidden{
      display: none;
  }

  .invisible{
    visibility: hidden;
  }

  .trim{
    background-color: white;
    width: 0%;
    height: 1vw;
    margin: 0 auto;
    transition-duration: 0.5s;

  }

  .trim-after{
    background-color: white;
    width: 100%;
  
    height: 1vw;
    margin: 0 auto;

  }