.main-graphic{
  height: auto;
  width: 100%;

}

.main-graphic-title{
    position:absolute;
    font-family: alphaDeath;
    font-size: min(120pt,20vw);
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    top:70%;
}
.sub-graphic-title{
    position:absolute;
    font-family: universalKnowledge;
    font-size: max(14pt,2vw);
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    top:70%;
    text-align: center;
}

.divider{
  background-color: white;
  width: 70%;

  height: 1vw;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}