

.project-showcase{
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
}

.project-showcase-image{
    border-radius: 50px;
    display: inline-block;
    width: 50%;
    height: 500px;
    background-color: red;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: bottom;
    margin: 10px;
}

.project-showcase-description{
    text-align: left;
    border-radius: 50px;
    display: inline-block;
    width: 45%;
    height: 500px;
    background-color: rgb(24,24,24);
    vertical-align: bottom;
    margin: 10px;
}

.project-showcase-description p{
    font-family: roboto-medium;
    font-style: normal;
    text-transform: none;
    margin: 5px;
    font-size: 8pt;
    padding: 20px;
    letter-spacing: 0px;
    padding-inline:20px;
}

@media (min-width: 370px) { 
    .project-showcase-description p{

    font-size: 8pt;
}
}




.video-chamber{
    background-image: url(../videos/thechamber.gif);
}

.video-syte{
    background-image: url(../videos/syte.gif);
}
.video-ursinaelements{
    background-image: url(../videos/ursinaelements.gif);
}

.video-scratchclone{
    background-image: url(../images/scratch-clone.png);
}


.showcase-title{
    height: 200px;
    width: 90%;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.title-1{
    background-image: url(../images/project-showcase-title-1.jpg);

}
.title-2{
    background-image: url(../images/project-showcase-title-2.jpg);
}
.title-3{
    background-image: url(../images/project-showcase-title-3.jpg);
}
.title-4{
    background-image: url(../images/project-showcase-title-4.jpg);
}

@media (min-width: 1200px) { 
    .project-showcase-image{
        height: 800px;
    }

    .project-showcase-description{
		 height: 800px;
	}
    .showcase-title{
        height: 300px;
    }

    .project-showcase-description p{

        font-size: 13pt;
    }
}
@media (min-width: 1500px) { 
.project-showcase-description p{

    font-size: 15pt;
}
}
.full-width{
    width: 100%;
}


/* .masonry{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vw;
}

@media screen and (max-width: 500px) { 
    .masonry{
    height: 200vw;
    }
} */

.projects-container{
    margin-inline: 10%;
    width: 80%;
    text-align: center;
}
