.project-card{
    display: inline-block;
    background-color: rgb(32, 32, 32);
    border-radius: 40px;
    height: auto;
    width: 100%;
    padding: 10px;
    vertical-align: top;
    transition: all 0.5s ease;
}


.project-card:hover{

    transform: translateY(-10px);
}

.project-card h1{
    color: white;
    font-size: 14pt;
    padding-inline: 0px;
    margin: 20px;
}
.project-card p{
    font-size: 10pt;
    padding-inline: 0px;
    margin: 20px;
}




.tag{
    color: white;
    font-family: roboto-medium;
    display: inline-block;
    background-color: rgb(92, 92, 92);
    border-radius: 20px;
    margin: 2px;
    padding: 5px;
    padding-inline: 10px;
    text-transform: uppercase;
    font-size: 8pt;

}
@media (min-width: 768px) { 
    .project-card{
        width: 50%;
    }
    .tag{
        font-size: 12pt;

    }
}
@media (min-width: 1200px) { 
    .project-card{
        width: 25%;
        margin: 20px;
    }
    .project-card h1{
        font-size: 16pt;
    }
    .project-card p{
        font-size: 14pt;
    }
}


.image{
    background-color: red;
    width: 100%;
    height: 200px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/404.jpg);
}
.title{
    background-color: red;
    width: 60%;
    height: 100px;
    margin: auto;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/404.jpg);
}

.orange{
    background-color: rgb(218, 123, 0);
}
.fire{
    background-color: rgb(218, 69, 0);
}
.ocean{
    background-color: rgb(34, 145, 209);
}
.purple{
    background-color: rgb(74, 34, 126);
}
.green{
    background-color: rgb(24, 131, 104);
}
.cobalt{
    background-color: rgb(59, 72, 134);
}
.snake{
    background-color: rgb(142, 165, 40);
}
.image-robot-maze{
    background-image: url(../images/projects/robot-maze.png);
}
.image-security-linux{
    background-image: url(../images/projects/cs140.jpg);
}
.image-essay{
    background-image: url(../images/projects/essay.png);
}
.image-waffles{
    background-image: url(../images/projects/cs126.jpg);
}
.image-ncurses{
    background-image: url(../images/projects/ncurses.png);
}
.image-old-website{
    background-image: url(../images/projects/old-website.jpg);
}
.image-ldc{
    background-image: url(../images/projects/cs141-1.jpg);
}
.image-scratch-clone{
    background-image: url(../images/projects/cs141.png);
}
.image-sytes{
    background-image: url(../videos/syte.gif);
}
.image-chamber{
    background-image: url(../videos/thechamber.gif);
}
.image-ursina-elements{
    background-image: url(../videos/ursinaelements.gif);
}
.image-warwick-labour-website{
    background-image: url(../images/projects/warwick-labour-website.jpg);
}
.image-go-tools{
    background-image: url(../images/projects/go-tools.jpg);
}
.title-chamber{
    background-image: url(../images/projects/title-chamber.jpg);
}